<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
      
              <div class="card" id="chat-log" style="border-radius: 15px;">
                <div
                  class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                  style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                  <i class="fas fa-angle-left"></i>
                  <p class="mb-0 fw-bold">Live chat</p>
                  <i class="fas fa-times"></i>
                </div>
                <div class="card-body">
                  {% for message in chat_log %}
                  {% if message.sender == "user" %}
      <!-- pertanyaan -->
                    <div class="d-flex flex-row justify-content-end mb-4">
                      <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                        <p class="small mb-0">{{ message.content }}</p>
                      </div>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                    </div>

                
                  
      <!-- jawaban -->
                    {% else %}
                    <div class="d-flex flex-row justify-content-start mb-4">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                      <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                        <p class="small mb-0">{{ message.content }}</p>
                      </div>
                    </div>
      <!-- end -->
                  {% endif %}
                  {% endfor %}
                  <form method="POST" action="/">
                    <input type="text" id="user_input" name="user_input" placeholder="Enter your message" class="form-control" autofocus>
                    <input class="btn btn-success" type="submit" value="Send" hidden>
                   </form>
      
                </div>
              </div>
      
            </div>
          </div>
      
        </div>
      </section>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>